.navbar {
  margin-bottom: 2rem;
}

.image-wrapper {
  height: 6rem;
  width: 6rem;
}

.navbar-icon {
  width: 100%;
}

.brand-name {
  margin-right: 2rem;
  font-family: "monospace";
  font-weight: 700;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
